[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
requests = "*"
vk-api = "*"
tinydb = "*"

[requires]
python_version = "3.7"
